* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/home-bg.png');
  background-size: cover;
  background-repeat: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-wrapper {
  margin: 5%;
}

button {
  cursor: pointer;
  background: none;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  color: whitesmoke;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  letter-spacing: 0.5rem;
  transition: all ease-in-out 0.3s;
}

button:hover {
  transition: all ease-in-out 0.3s;
  background-color: rgba(245, 245, 245, 0.3);
}

h1 {
  color: whitesmoke;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  letter-spacing: 0.5rem;
}

img {
  width: 200px;
}